
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel İndir</h1>
<br />

<a href="/Admin/Blog/ExportStaticExcelBlogList" class="btn btn-primary">Static Excel Listesini İndir</a>
<a href="/Admin/Blog/ExportDynamicExcelBlogList" class="btn btn-success">Dinamik Excel Listesini İndir</a>

