<a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
    <div class="nav-profile-img">
        <img src="~/WriterImageFiles/profile-image.jpg" alt="image">
    </div>
    <div class="ml-2 mt-1">
        <p class="mb-1 text-black align-content-center" >@ViewBag.Name</p>
    </div>
</a>