
<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding" style="height:14rem">
            <div class="p-m">
                <h1>Dashboard</h1>

                <h3 class="font-bold no-margins">
                    Asp.Net Core 5.0
                </h3>
                <br />
                <small>Projemizin bu panelinde Admin işlemleri bir Area yapısı üzerinden gerçekleşmektedir. Sol tarafta yer alan sidebardan yardım menüsüne ulaşıp takıldığınız noktalarla ilgili destek alabilirsiniz.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding" style="height:14rem">
            <div class="p-m">
                <h1>Son Eklenen Blog</h1>

                <h3 class="font-bold no-margins">
                    @ViewBag.v1
                </h3>
                <br />
                <small>Yazar: @ViewBag.v4</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellow-bg no-padding" style="height:14rem">
            <div class="p-m">
                <h1 class="m-xs">₺ 50,992</h1>

                <h3 class="font-bold no-margins">
                    Blog Site Kazancı
                </h3>
                <br />
                <small>Ürün tanıtımları, promosyonlar, reklamlar, anlaşmalar vs.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>